
/* add styling to the header element which includes interactable text to display highscores and the games timer */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

/* set positioning of the main elements which are generated via JS */
.container {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questions ul {
    width: 100%;
}

#questions ul li {
    list-style-type: none;
    padding: 5px 15px;
    margin: 5px;
    background-color: aquamarine;
    border-radius: 15px;
}

.container > p {
    font-size: 1.5em;
    color: grey;
}

div button {
    display: flex;
    margin: 3% auto;
}



