.container {
    display: flex;
}

header {
    align-items: center;
    justify-content: space-between;
}

section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div button {
    display: flex;
    margin: auto;
}