header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

div button {
    display: flex;
    margin: auto;
}